{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{% static 'blog/img/money-tree.jpg' %}')">
  
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ object.title }}</h1>
            <h2 class="subheading">Problems look mighty small from 150 miles up</h2>
            <span class="meta">Posted by
              <a href="#">{{ object.owner }}</a>
              on {{ object.created_at }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 col-md-10 mx-auto">
          <div class="content-markdown">{{ object.body }}</div>
        </div>
      </div>
    </div>
  </article>

  <hr>
  {% endblock %}
  {% block javascript %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
        $(".content-markdown").each(function(){
            var content = $(this).text();
            var markedContent = marked(content);
            $(this).html(markedContent)});
    });
    </script>
  {% endblock %}
