{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <!-- Page Header -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <header class="masthead" style="background-image: url('img/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>Add Your Blog Post</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
        </div>
      </div>
    </div>
  </article>

  <hr>
  {% endblock %}
  {% block javascript %}
  {{ block.super }}
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

  {% endblock %}
